<p>
  <b>Individual post:</b>
  <%=h @individual_post_preferred_country.individual_post_id %>
</p>

<p>
  <b>Country:</b>
  <%=h @individual_post_preferred_country.country_id %>
</p>


<%= link_to 'Edit', edit_individual_post_preferred_country_path(@individual_post_preferred_country) %> |
<%= link_to 'Back', individual_post_preferred_countries_path %>